.skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.skillsTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillsSection {
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}
.active {
    color: greenyellow;
    border-bottom: 3px solid greenyellow;
    padding-bottom: 0.5rem ;
}
.skillsProf {
    display: flex;
    width: 56%;
    flex-wrap: wrap;    
}
.skillsProfSection {
    padding: 2rem 4rem;
}
.skillsSubSection:hover {
    color: yellowgreen;
    cursor: pointer;
}
.skillsBox {
    width: 100%;
}
.skillsDescription {
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem 3.2rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.skillImg {
    height: 2rem;
    width: 2rem;
}
.skillLogo {
    padding: 0 1rem 0 0;
}
.skillHead {
    padding-right: 4rem;
}
.skillList {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
@media screen and (max-width: 720px){
    .skillsTitle {
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 480px){
    .skillsDescription {
        font-size: 0.9rem;
    }
    .skillsTitle {
        font-size: 2.5rem;
    }
}