.introHead {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bg {
    position: absolute;
    z-index: -1;
    top: -4rem;
    right: 88px;
    object-fit: cover;
    height: 80vh;
    /* max-width: 60vw; */
}
.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello {
    font-size: 1.75rem;
    font-weight: 100;
}
.introName {
    color: greenyellow;;
}
.introPara {
    font-size: 1.25rem;
    font-weight: 200;
}
.btn {
    background: yellowgreen;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    width: 25%;
    margin-top: 2rem;
}
.btn:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}
@media screen and (max-width: 840px){
    .bg {
        right: 15vw;
    }
}
@media screen and (max-width: 480px){
    .bg {
        right: 10vw;
        top: -33vw;
    }
    .introText {
        font-size: 29px;
    }
    .introPara {
        font-size: 0.9rem;
    }
}